:root {
    --background-color: #212327; 
    --menu-color: #161618; 
    --border-color: #1F1D24;
    --alert-color: #ED4040;
}

body {
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.uperMenu {
    background-color: var(--menu-color);  
    height: 100px; 
    display: flex;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    border-radius: 15px;
}

.sectionMenu {
    padding: 1rem 1rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

p {
    color: white;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

/* ----------------------- UP SECTION: ----------------------- */

/* Logo */

#logo-section {
    flex-basis: 10%;
    justify-content: left;
}

.logo {
    height: 90%;
}

/* Controls */

#control-section > div {
    display: flex;
    height: 100%;
}

#control-section > div > button {
    min-width: 70px;
    height: 100%;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: white;
    border-radius: 5px;
    margin-left: 2px;
    cursor: pointer;
}

#control-section > div > button:hover {
    filter: brightness(1.75);
}

#areaOfAlert, #areaOfAlert:hover {
    min-width: 70px;
    height: 100%;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: white;
    border-radius: 5px;
    margin-left: 2px;
    cursor: auto;
}

#areaOfAlert:hover {
    filter: none;
    cursor: pointer;
}

.inputArea {
    font-size: 25px;
    max-width: 200px;
}

#control-section {
    flex-basis: 5%;
}


#info {
    font-size: calc(55px * exp(-1));   
}

.timerBox {
    background-color: white;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 5px;
    width: 270px;
}

#timer-section {
    flex-grow: 1;
    font-weight: 1000;
    box-sizing: border-box;
}

.timerText {
    color: #161618;
    font-size: 15px;
    margin: 0;
    text-align: center; 
    font-weight: 1000;   
    direction: rtl; 
}

#timer {
    color: #161618;
    font-size: 45px;
    margin: 0;
    text-align: center; 
    line-height: 1;      
}

#date-section {
    flex-basis: 15%;
    justify-content: right;
    
}

/* ----------------------- DOWN SECTION: ----------------------- */

.screen {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    border-radius: 15px;
}

.news {
    border-radius: 15px;
    height: 100%;
    box-sizing: border-box;
    border: var(--menu-color) solid 4px;
}

.newsIframe {
    border-radius: 10px;
    height: 100%;
    box-sizing: border-box;
}

.alertBox {
    background-color: var(--menu-color);
    border-radius: 15px;
    height: 100%;
}

.alerts {
    border: 0;
    min-width: 300px;
    height: calc(100% - 40px);
    border-radius: 15px;
    box-sizing: border-box;
    border: var(--menu-color) solid 4px;
}

.alertsUp {
    border: 0;
    min-width: 300px;
    border-radius: 15px;
    box-sizing: border-box;
}

.alertsControl {
    padding: 7px;
    width: 100%;
    background-color: var(--menu-color);
    border-radius: 15px 15px 0 0;
    color: gray;
    cursor: pointer;
}

.mediaBox {
    padding: 5px;
    padding-left: 0;
}

#alertsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    gap: 10px;
    align-items: center;
    text-align: center;
    direction: rtl;
    color: var(--alert-color);
    font-size: 20px;
    cursor: auto;
    width: 100%;
}

.alertButtons {
    min-width: 30px;
    height: 100%;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: white;
    border-radius: 5px;
    margin-left: 2px;
    font-size: 20px;
    cursor: pointer;
}

.alertButtons:hover {
    filter: brightness(1.75);
}

/* AREA ALERT: */

.areaBox-hide {
    width: 300px;
    height: 90%;
    background-color: #A52A2A;
    border-radius: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    transition: all 0.5s;
}  
  

.areaBox {
    width: 300px;
    height: 90%;
    background-color: #A52A2A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    transition: all 0.5s;
}   

.areaTitle {
    margin: 0;
    color: white;
    font-size: 20px;
}

.areaP {
    margin: 0;
    color: white;
    font-size: 10px;
}

.areaIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    vertical-align: middle;
    font-size: 2ch;
    cursor: pointer;
}

/* CONTROLS PANEL: */

.controlBack {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
}

.controlPanel {
    width: 700px;
    height: 300px;
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--background-color);
    box-shadow: 0 4px 22px 0 rgba(5, 13, 52, 0.03);
    box-sizing: border-box;
    background-color: var(--menu-color);
    padding: 20px;
    z-index: 10;
}

.controlPanel > div > button {
    min-width: 300px;
    height: 100%;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: white;
    border-radius: 5px;
    margin-left: 2px;
    margin-bottom: 5px;
    font-size: 50px;
    cursor: pointer;
}

.controlPanel > div > button:hover {
    filter: brightness(1.75);
}

.alertTitle {
    font-size: 40px;
}

#alert {
    background-color: var(--color-error);
}

/* CHANELS */
.chanels {
    position: absolute;
    bottom: 50px;
    margin-left: 25px;

    width: 75%;
    height: 100px;
    background-color: #161618;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.chanelBox {
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    background-color: #212327;
}

.chanels-hide {
    position: absolute;
    bottom: 50px;
    margin-left: 25px;

    width: 75%;
    height: 100px;
    background-color: #161618;
    border-radius: 15px;

    display: none;
    align-items: center;
    justify-content: space-evenly;   
}

.chanelTitle {
    font-weight: 1000;
}

.alt {
    width: 100%;
    height: 45px;
    background-color: #ED4040;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.altTitle {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
